<div class="options noprint">
  <form [formGroup]="form" class="space-y-8 divide-y divide-gray-200">
    <div class="space-y-8 divide-y divide-gray-200">
      <div>
        <div>
          <h3 class="text-lg font-medium leading-6 text-gray-900">Options</h3>
        </div>

        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-2">
            <label for="year" class="block text-sm font-medium text-gray-700">Year</label>
            <div class="mt-1">
              <select
                id="year"
                name="year"
                autocomplete="year"
                class="block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm"
              >
                <option>2023</option>
              </select>
            </div>
          </div>

          <div class="sm:col-span-2">
            <label for="language" class="block text-sm font-medium text-gray-700">Language</label>
            <div class="mt-1">
              <select
                id="language"
                name="language"
                autocomplete="language"
                class="block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm"
              >
                <option>English</option>
                <option>Italian</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="pt-8">
        <div>
          <h3 class="text-lg font-medium leading-6 text-gray-900">Events</h3>
        </div>
        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          <ul id="events" class="sm:col-span-6">
            <li>
              <div class="grid grid-cols-4">
                <span>Event</span>
                <span>Date</span>
                <span>Color</span>
              </div>
            </li>
            <li *ngFor="let event of events; let i = index">
              <div class="grid grid-cols-4">
                <span>{{ event.name }}</span>
                <span>{{ event.date | date }}</span>
                <span
                  [ngStyle]="{ 'background-color': event.color }"
                  class="rounded-full w-4 h-4"
                ></span>
                <button (click)="deleteEvent(i)">Delete</button>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="pt-8">
        <div>
          <h3 class="text-lg font-medium leading-6 text-gray-900">Add Event</h3>
        </div>
        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-6">
            <label
              for="event-name"
              class="block text-sm font-medium text-gray-700 control-label sc-required"
              >Name</label
            >
            <div class="mt-1">
              <input
                formControlName="name"
                type="text"
                name="event-name"
                id="event-name"
                autocomplete="event-name"
                class="block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm"
              />
            </div>
            <div *ngIf="isFieldValid('name')" class="mt-2 text-sm text-red-600">
              Field is required.
            </div>
          </div>

          <div class="sm:col-span-3">
            <label
              for="date"
              class="block text-sm font-medium text-gray-700 control-label sc-required"
              >Date</label
            >
            <div class="mt-1">
              <input
                formControlName="dateControl"
                id="date"
                name="date"
                type="date"
                autocomplete="date"
                class="block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm"
              />
            </div>
            <div *ngIf="isFieldValid('dateControl')" class="mt-2 text-sm text-red-600">
              Field is required.
            </div>
          </div>

          <div class="sm:col-span-3">
            <label
              for="email"
              class="block text-sm font-medium text-gray-700 control-label sc-required"
              >Color</label
            >
            <div class="mt-1">
              <input
                formControlName="color"
                id="color"
                name="color"
                type="color"
                autocomplete="color"
                class="block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm"
              />
            </div>
            <div *ngIf="isFieldValid('color')" class="mt-2 text-sm text-red-600">
              Field is required.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pt-5">
      <div class="flex justify-end">
        <button
          (click)="addEvent()"
          type="button"
          class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
        >
          Add Event
        </button>
        <button
          (click)="print()"
          type="submit"
          class="ml-3 inline-flex justify-center rounded-md border border-transparent bg-blue-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
        >
          Generate
        </button>
      </div>
    </div>
  </form>
</div>

<section class="sheet" *ngFor="let month of calendar">
  <div class="month-container">
    <span class="month-name">{{ month.name }}</span>
    <span class="year">{{ initialDate.getFullYear() }}</span>

    <table [cellSpacing]="0" class="month">
      <tbody>
        <tr>
          <td *ngFor="let day of days">{{ day }}</td>
        </tr>
        <tr *ngFor="let row of month.rows">
          <td
            *ngFor="let col of row.cols"
            [class.event]="col.eventName || col.holidayName"
            [class.off]="col.otherMonth"
          >
            <span
              *ngIf="!col.otherMonth"
              [class.green]="col.eventName"
              [class.red]="col.isSunday || col.holidayName && !col.isWorking"
              [class.event-day]="col.isSunday || col.eventName || col.holidayName && !col.isWorking"
              [style.background-color]="col.event?.color"
            >
              {{ col.number }}
            </span>
            <span *ngIf="col.otherMonth">
              {{ col.number }}
            </span>
            <span class="event-label" *ngIf="!col.otherMonth">{{ col.eventName }}</span>
            <span class="event-label" *ngIf="!col.otherMonth">{{ col.holidayName }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
