@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./theme/paper";

@page {
  size: A4;
}

* {
  font-family: "Roboto", sans-serif;
}

.month-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  height: 100%;

  .month-name {
    font-size: 3rem;
    letter-spacing: 0.2rem;
    padding: 0.5rem;
    color: #fff;
    background-color: #000;
    text-align: center;
    margin-bottom: 8rem;
  }

  .month {
    text-align: center;
    border-spacing: 0 0.5rem;
  }

  .month tr {
    height: 5rem;
  }

  /* ========== EVENTS ========== */
  .event {
    position: relative;
  }

  .event-day {
    color: #fff;
    border-radius: 999rem;
    line-height: 2rem;
    display: inline-block;
    width: 2rem;
  }

  .event-label {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 2.5rem;
    font-weight: normal;
    width: 100%;
    line-height: 1rem;
  }

  .off {
    color: #ddd;
  }

  .red {
    background-color: #c83737;
  }

  .green {
    background-color: #3abe29;
  }

  .year {
    font-weight: bold;
    color: #808080;
    letter-spacing: 0.25rem;
    position: absolute;
    transform: translateX(-50%);
    bottom: 2rem;
    left: 50%;
  }

  td {
    vertical-align: text-top;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    width: 14.285%;
  }

  tr {
    margin-bottom: 5rem;
  }
}

.options {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #fff;
  padding: 1rem;
  position: fixed;
  z-index: 200;
  width: 25%;
  top: 0;
  bottom: 0;
}

@media print {
  .noprint {
    visibility: hidden;
  }
}

.control-label.sc-required:after {
  color: #d00;
  content: "*";
  margin-left: 5px;
}
